{% extends 'layout.html' %}
{% block content %}


<div style="display: flex; justify-content: center; margin-top: 40px;">
  {% include 'msgFlash.html' %}
</div>

<!-- Hero -->
<section class="artisan-hero">
  <div class="hero-inner">
    <span class="hero-badge">Artisan Login Form</span>
    <h1>Login to Your 47Builders Account</h1>
    <p class="auth-hint">
      Don't Have an Account with 47Builders,
      <a href="{{url_for('artisan_signup_page')}}">Register Here</a>.
    </p>
  </div>
</section>

<section class="auth-section">
  <div class="auth-card">
    <h1 style="display: flex; justify-content: center; padding-bottom: 20px;">Login Page</h1>
    <!-- <p class="auth-subtitle">
      Login with your details to Access your Dashboard.
    </p> -->

    <form method="POST" enctype="multipart/form-data" id="artisanSignupForm" class="form auth-form">

      <div class="formRow">
        <input type="email" name="email" class="input" placeholder="Email" required />
        </select>
      </div>

      <div class="formRow">
        <input type="password" name="password" class="input" placeholder="Password" required />
      </div>

      <div class="auth-checkbox-row">
        <label class="checkbox-label">
          <span>Remember Me</span>
          <input type="checkbox" name="rememberMe" />
        </label>
      </div>

      <button type="submit" class="primaryButton auth-submit">
        Login
      </button>

      <p class="formMessage" id="artisanSignupMessage"></p>
    </form>

    
  </div>
</section>

{% endblock content %}